@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
}



*{
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}


/* navbar + logo */


header{
    border-bottom: 1px solid black;
}

.items-menu{
    float: right;
    margin-right: 20px;
    margin-top: -70px;
    padding: 10px;
    border-radius: 10px;
}

.items-menu ul li{
    display: inline;
}


.items-menu ul li a{
    color: black;
    text-decoration: none;
    margin-top: -10px;
    margin-right: 40px;
    padding-left: 2px;
    font-size: 2em;
    transition: all 100ms;
}

#logo{
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 10px;
} 

a.underline-hover-effect {
    text-decoration: none;
    color: inherit;
  }
  
  .underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
  }
  
  .underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: #004a96;
    transition: width 0.25s ease-out;
  }
  .underline-hover-effect:hover::before {
    width: 100%;
  }



/* about us*/

.div1-main{
    text-align: center;
    margin-bottom: 5.1em;
    font-size: 2em;
    margin-left: 20%;
    margin-right: 20%;
    letter-spacing: 3px;
}

.div1-main h1{
}

.div2-main {
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
    margin-bottom: 300px;
}

.div2-main h1{
    font-size: 3em;
    margin-bottom: 100px;
    margin-left: 50%;
}

.div2-main p{
    font-size: 1.25em;
    margin-left: 50%;
}

.img{
    height: 300px;
    margin-top: 10px;
    margin-left: -42em;
    position: absolute;
    border: 1px solid white;
    border-radius: 40% 60% 36% 64% / 48% 35% 65% 52%  ;
}




/*Storitve*/

.div3-main{
    padding-top: 150px;
    background-color: #0b529a;
    padding-bottom: 150px;
    color: black;
}

.div3-main-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 2fr);
    margin-left: 22%;
    margin-right: 22%;
    justify-content: stretch;
    gap: 40px;
}

#div3-main-name{
    display: grid;
    justify-items: center;
    font-size: 4em;
    margin-bottom: 90px;
    color: white;
    letter-spacing: 5px;
}

    /* card*/
    .card{
        border: 1px solid white;
        padding: 20px;
        height: 400px;
        background-color: white;
        border-radius: 10px;
        transition: all ease .4s;
        cursor: pointer;
        box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.619);
    
    }

    .card h1{
        font-size: 1vw;
        margin-bottom: 40px;
        margin-top: 20px;
        padding-top: 30px;
    }

    .card p{
        font-size: 1.2em;
    }

    .card i{
        padding-top: 20px;
    }
    #card1, #card2, #card3, #card4{
        transition: all ease .4s;
    }

    #card1:hover{
        background-color: #1073b7;
        border-color: #1073b7;
        color: white;
    }

    #card2:hover{
        background-color: #189dd2;
        border-color: #189dd2;
        color: white;
    }

    #card3:hover{
        background-color: #1db4d5;
        border-color: #1db4d5;
        color: white;
    }

    #card4:hover{
        background-color: #becb29;
        border-color: #becb29;
        color: white;
    }

.card:hover > span {
    animation: shake 0.5s ease-in-out infinite;
}


#vec{
    color: black;
    text-decoration: none;
    display: grid;
    justify-items: center;
    margin-top: 150px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.619);
    margin-left: 45%;
    margin-right: 45%;
    padding: 13px;
    font-size: 2.7em;
    transition: all ease-in 0.3s;
}

#vec:hover{
    border-color: #1073b7;
    background-color: #1073b7;
    color: white;
}

.img1{
    font-size: 40px;
}

/* Kontakt */

.div5-main{
    margin-left: 22%;
    margin-right: 22%;
    text-align: center;
    margin-bottom: 20em;
    margin-top: 20em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 2fr);
    justify-items: stretch;
}

.div5-main i{
    margin-top: 60%;
    font-size: 20em;
}

.form{
}

.form h1{
    font-size: 3em;
    text-align: end;
    margin-right: -15%;
    margin-bottom: 15%;
}

.form label{
    font-size: 2em;
}

.form textarea{
    height: 100px;
    resize: none;
}

.form input[type=text], textarea{
    width: 60%;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
}

::placeholder{
    padding-left: 10px;
    padding-top: 3px;
    font-size: 1.5em;
}

.form input[type=button] {
    background-color: #004a96;
    color: white;
    font-size: 2em;
    border: 1px solid #004a96;
    border-radius: 52px;
    padding: 16px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 29px;
    margin-top: 11%;
    width: 60%;
    transition: all ease .5s;
}

.form input[type=button]:hover{
    background-color: white;
    color: #004a96;
    font-weight: 1000;
}


@media only screen and (max-width: 1600px) {
    /* za zaslone (slika)*/
    
}

footer{
    background-color: #004a96;
}
