*{
    padding: 0;
    margin: 0;
    font-family: 'Wellfleet', monospace;
}

header{
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.items-menu{
    float: right;
    margin-right: 20px;
    margin-top: -70px;
    padding: 10px;
    border-radius: 10px;
}

.items-menu ul li{
    display: inline;
}

.items-menu ul li a{
    color: black;
    text-decoration: none;
    margin-top: -10px;
    margin-right: 40px;
    padding-left: 2px;
    font-size: 2em;
    transition: all 100ms;
}

.items-menu ul li a:hover{
}

#logo{
    margin-top: 40px;
    margin-left: 40px;
} 

.div1-main{
    text-align: center;
    margin-bottom: 5.5em;
    font-size: 2em;
    margin-left: 20%;
    margin-right: 20%;
}

.div1-main h1{
}




.div2-main {
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
    margin-bottom: 300px;
}

.div2-main h1{
    font-size: 3em;
    margin-bottom: 100px;
}

.div2-main p{
    font-size: 1.25em;
    margin-left: 50%;
}


.div3-main{
    padding-top: 150px;
    background-color: #254fda;
    padding-bottom: 150px;
    color: aliceblue;
}

.div3-main-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-left: 22%;
    margin-right: 22%;
    justify-content: stretch;
    gap: 40px;
}

.card{
    border: 1px solid #0900ff;
    padding: 20px;
    height: 150px;
    background-color: #0900ff;
    border-radius: 10px;
    transition: all ease .5s;
    cursor: pointer;
}

.card h1{
    font-size: 3em;
    margin-bottom: 20px;
    transition: all ease .5s;
}

.card p{
    font-size: 1.2em;
    transition: all ease .5s;
}

.card:hover > h1{
    font-size: 3.4em;
}

.card:hover > p{
    font-size: 1.25em;
}

#div3-main-name{
    display: grid;
    justify-items: center;
    font-size: 4em;
    margin-bottom: 90px;
}

#vec{
    color: white;
    text-decoration: none;
    display: grid;
    justify-items: center;
    margin-top: 150px;
    border: 1px solid #0900ff;
    background-color: #0900ff;
    border-radius: 10px;
    margin-left: 45%;
    margin-right: 45%;
    padding: 13px;
    font-size: 2.7em;
    transition: all ease-in 0.3s;
}

#vec:hover{
    padding: 10px;
    font-size: 3em;
}

.img{
    height: 300px;
    margin-top: 10px;
    margin-left: -42em;
    position: absolute;
    border: 1px solid white;
    border-radius: 40% 60% 36% 64% / 48% 35% 65% 52%  ;
}

.form{
    border: 1px solid #2556da;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
    margin-left: 22%;
    margin-right: 22%;
    display: inline-block;
    width: 50%;
    background-color: #2556da;
}

.form input[type=text], textarea{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: grey;
    margin-left: 5%;
    margin-right: 5%;
}

::placeholder{
    color: white;
}


.form button{
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 1em;
    padding: 20px;
}

@media only screen and (max-width: 1600px) {
    /* za zaslone (slika)*/
    
}
